.card {
    background-color: #FFFFFF;
    cursor: pointer;
    color: #000;
    margin: 1rem;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 34px 35px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    transition: all .5s ease;

    &:hover {
      transform: translateY(-10px);
      transition: all .3s ease;
    }

    p:first-of-type {
        font-weight: bolder;
        text-transform: uppercase;
    }

    p:last-of-type {
        font-size: .75rem;
    }

    &.selected {
        background-color: gray;
    }
}